In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
#Import da base de dados
base = pd.read_excel("Base.xlsx")

   Investimento em marketing  Venda Qtd
0                         20        118
1                         25        142
2                         40        225
3                         52        260
4                         67        295
5                         72        335
6                         81        364

In [11]:
base.head()

   Investimento em marketing  Venda Qtd
0                         20        118
1                         25        142
2                         40        225
3                         52        260
4                         67        295